*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.background{
    background: #121725;
    position: relative;
}
.background::before{
    content: "";
    background-image: url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: 1;
    background-size: cover;
}
.logo{
    z-index: 2;
    position: relative;
    display: flex;
    margin: auto;
    padding-top: 62px;
}
.main{
    padding: 57px 24px 94px 24px;
    display: flex;
    flex-direction: column;
}
.title{
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color:white;
    font-style: normal;
}
.changetext{
    color:#54E6AF;
}
.paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #C2CBE5;
    padding-top: 16px;
}
.icons{
    padding-top: 33px ;
    display: flex;
    flex-direction: row;
    gap:23px;
    align-items: center;
}
.spotify, .apple, .google, .pocket{
    width: 20%;
    height: 20%;
}
.checkbox{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 327px;
}
.redalert{
    color: #FB3E3E;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 20px;
    display: none;
}
.emailcheck{
    position: relative;
    color: white;
    background: #2C344B;
    mix-blend-mode: normal;
    border: none;
    opacity: 0.9;
    border-radius: 28px;
    font-weight: 400;
    margin-top: 52px;
    font-size: 14px;
    line-height: 28px;
    z-index: 6;
    padding: 9px 0 9px 32px;
}
.checkboxsecond{
    display: none;
}
.access{
    background: #54E6AF;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
    border-radius: 28px;
    padding: 9px 109px 9px 109px;
    z-index: 3;
    max-width: 327px;
    margin-top: 16px;
}
.buttontext{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #121725;
}
.pattern{
    display: none;
}
@media(min-width:768px){
    .logo{
        padding: 50px 673px 0 39px;
    }
    .background::before{
        content: "";
        background-image: url(./assets/tablet/image-host.jpg);
        background-color:  #54E6AF;
        opacity: 0.8;
        left:287px;
        bottom: 257px;
        z-index: 1;
    }
    .main{
        z-index: 3;
        position: relative;
        background-color: #121725;
        margin-top: 162px;
        margin-right: 94px;
        display: flex;
        flex-direction: column;
        max-width: 723px;
        padding-bottom: 0;
    }
    .title{
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        text-align: left;
        padding: 93px 0 31px 0;
    }
    .paragraph{
        width: 60%;
        text-align: left;
        color: #C2CBE5;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        opacity: 0.5;
    }
    .checkbox{
        display: none;
    }
    .checkboxsecond{
        display: block;
        order: 1;
        display: flex;
        flex-direction: row;
        max-width: 430px;
        margin: 0;
        margin-top: 40px;
        background-color: #2C344B;
        border-radius: 28px;
    }
    .redalert{
        display: none;
    }
    .redalertsecond{
        display: none;
        color: #FB3E3E;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        padding-left: 40px;
        margin-top: -60px;
        position: absolute;
        order: 3;
        z-index: 5;
    }
    .emailchecksecond{
        z-index: 2;
        height: 46px;
        padding: 14px;
        width: 290px;
        margin-top: 4px;
        padding-left: 20px;
        font-size: 16px;
        position: relative;
        color: white;
        background: #2C344B;
        mix-blend-mode: normal;
        border: none;
        opacity: 0.9;
        border-radius: 28px;
    }
    .accesssecond{
        display: flex;
        z-index: 2;
        height: 46px;
        padding: 0;
        width: 142px;
        margin: 3.5px 5px 3.5px 0;
        background: #54E6AF;
        box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
        border-radius: 28px;
    }
    .buttontextsecond{
        font-size: 14px;
        display: flex;
        margin: auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #121725;
    }
    .icons{
        opacity: 0.5;
        order: 2;
    }
    .apple, .spotify{
        width: 12%;
        height: 12%;
    }
    .pocket{
        width: 18%;
        height: 18%;
    }
    .pattern{
        display: block;
        padding-left:30px;
        margin-top: 153px;
        padding-bottom: 0;
    }
}
@media(min-width:1440px){
    body{
        background: #121725;
        padding: 0 0 78px 165px;
        overflow-x: hidden;
        padding-top: 130px;
        max-width: 100vw;
    }
    .main{
        margin: 0;
        padding: 0;
        margin-top: 140px;
        padding-top: 88px;
    }
    .title{
        padding-top:0 ;
        padding-bottom: 0;
    }
    .logo{
        padding: 0;
        margin: 0;
        margin-top: auto;
        width: 100px;
    }
    .background{
        display: flex;
        flex-direction: column;
    }
    .background::before{
        background-image: url(./assets/desktop/image-host.jpg); 
        margin-right: -50px;  
        height: 640px;                                                                                                                                                                  
    }
    .spotify, .apple, .google, .pocket{
        width: 15%;
        height: 15%;
        justify-content: space-between;
        gap:0;
    }
    .access{
        cursor: pointer;
    }
    .access:hover{
        background-color: #B3FFE2;
    }
    .redalertsecond{
        display: none;
        color: #FB3E3E;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        padding-left: 25px;
        margin-top: 580px;
        z-index: 5;
        order: 4;
    }
    .pattern{
        display: flex;
        padding-right: 1px;
        text-align: right;
        width: 250px;
        margin-left: auto;
        z-index: 5;
        position: relative;
        margin-top: -50px;
    }
}